@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url('../vendors/fonts/Inter/Inter-VariableFont_slnt_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Sofia Sans';
    font-style: normal;
    src: url('../vendors/fonts/SofiaSans/SofiaSans-VariableFont_wght.ttf') format('truetype');
}

:root{
    --vh: calc(150vh);
}

.innerSectionWrapper{
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-template:
        "content"
        "media" 1fr / auto;
    align-content: center;
}

.heroSection.container-fluid{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    top: -60px;
    padding: 0;
}

.innerContent{
    height: 100vh;
    width: 100%;
}

.backgroundImg{
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, 0px);
    transform-origin: 50% 100%;
    object-fit: cover;
    object-position: center bottom;
    scale: 1.75;
}

.womanImg{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    transform-origin: 50% 100%;
    pointer-events: none;
    display: block;
    width: calc(126vh);
    height: calc(70vh);
    max-width: unset;
    /* min-height: 370px;
    min-width: 665px;
    scale: 1.75; */
}

.backOverlay{
    width: calc(49.6063vh);
    height: calc(70vh);
    bottom: 0;
    left: 50%;
    border: 3px solid #c9c9cd;
    border-top-left-radius: calc(2.5vh);
    border-top-right-radius: calc(2.5vh);
    transform: translateX(-50%);
    overflow: hidden;
}

.mainCarouselItem{
    width: calc(49.6063vh);
    height: calc(70vh);
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0) 10.09%, rgba(0, 0, 0, 0.15) 53.36%);
    position: absolute;
    z-index: 999;
    transform: translateX(-50%);
    bottom: 0;
    /* left: 50%; */
    z-index: 999;
}

.mainItem{
    left: 50%;
}

.carouselItem,
.carouselItem .swiper-slide-shadow-coverflow,
.carouselItem img{
    border-radius: 2.5vh;
}

.carouselItem.mainCarouselItem,
.carouselItem.mainCarouselItem > img,
.carouselItem.mainCarouselItem .swiper-slide-shadow-coverflow{
    border-radius: unset;
}

.carouselItem.mainCarouselItem .backgroundImgCarousel{
    width: 100vw;
    height: 100vh;
    border-radius: unset;
    max-width: none;
    transform: translate(-50%, 0px)
}

.mainCarouselItem .womanImgCarousel{
    max-width: none;
}

.mainCarouselItem > img:nth-child(3){
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .womanImgCarousel.womanMain{
    transform: translate(-51%, 13%);
} */

.textWrapper{
    top: 13%;
    width: 100vw;
    z-index: 1;
}

.title{
    font-family: "Sofia Sans", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -0.06rem;
    color: #fff;
    text-transform: uppercase;
}

.mainBtn{
    text-decoration: none;
    font-family: "Sofia Sans", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    letter-spacing: normal;
    height: auto;
    width: max-content;
    max-width: 240px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 9999px;
    color: #fff;
    background-color: #191c1f;
    text-align: center;
}

.mySwiper.swiper {
    /* width: calc(49.6063vh); */
    height: 100%;
    overflow: visible;
    transform: translateX(calc((100vw - 150vh) * 0.5));
}

.carouselSectionWrapper,
.mainCarouselWrapper{
    /* display: none; */
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    transform-origin: 50% 100%;
    object-fit: cover;
    object-position: center bottom;
    max-width: unset;
    width: 100vw;
    height: 100vh;
}

.carouselSectionWrapper{
    padding-top: 6rem;
}

.carouselSectionWrapper > .innerSectionWrapper{
    opacity: 0;
}

.carouselSectionWrapper > .carouselWrapper{
    width: calc(150vh);
    /* aspect-ratio: 1/0.44; */
    margin-top: 4vh;
    position: absolute;
    bottom: 0;
    right: 0px;
    left: 0;
    scale: 1;
    height: 70vh;
    /* max-width: 800px; */
    overflow-x: clip;
}

.carouselItem.swiper-slide:not(.swiper-slide-visible){
    visibility: hidden;
}

/* .carouselItem.swiper-slide-active,
.carouselItem.swiper-slide-next,
.carouselItem.swiper-slide-prev{
    visibility: visible;
} */

.subtitle{
    font-family: "Sofia Sans", sans-serif;
    font-size: clamp(3rem, 2.85rem + 1vw, 3.75rem);
    text-align: center;
    margin-bottom: .5rem;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    text-wrap: unset;
}

.subtitleSmall{
    font-size: 3rem;
}

.white{
    color: #fff;
}

.mainParagraph{
    font-family: "Sofia Sans", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: normal;
    width: 65%;
}

.mainParagraph > span{
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.01125rem;
}

.carouselItem > img.regular{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* 
.mainCarouselItem.swiper-slide > .womanImgCarousel{
    transform: translate(-50%, 80px)  scale(0.6);
} */

.mySwiper.swiper-horizontal > .swiper-pagination-bullets{
    bottom: -30px;
}

.blackSection{
    background: #000;
    display: flex;
    justify-content: center;
}

.whiteBtn{
    color: #000;
    background-color: #f4f4f4;
}

.videoContainer{
    aspect-ratio: 1.666666667;
    max-height: 446px;
}

.pc{
    display: none;
}

.colorfulSection{
    background-image: url(assets/colorfulSection.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 640px;
}

.colorfulSection > .innerSectionWrapper > div:nth-child(1){
    width: 45%;
}

.colorfulSection > .innerSectionWrapper > div:nth-child(2){
    width: 52%;
}

.imagedSection{
    min-height: 640px;
    overflow: hidden;
}

.imagedSection .subtitle{
    hyphens: auto;
    width: 95%;
    line-height: 1;
}

.imagedSection  .textWrap{
    width: 85%;
}

.imagedSection .innerSectionWrapper{
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0px);
}

/* .singleItem > img:nth-child(1){
    transform: translateY(-150px);
} */

.singleItem .innerPicture{
    height: 100%;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0px);
    max-height: 500px;
    aspect-ratio: 2/1;
}

.swiper-pagination-bullet.carouselBtn {
    position: relative;
    color: #f4f4f4;
    font-family: "Sofia Sans", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    letter-spacing: normal;
    text-align: center;
    background-color: rgb(244 244 244 / 0.1);
    height: 42px;
    padding: 10px 26px;
    min-width: max-content;
    border: 2px solid #f4f4f4;
    border-radius: 9999px;
    opacity: 1;
    display: flex;
    align-items: center;
    backdrop-filter: blur(16px);
}

.swiper-pagination-bullet-active.carouselBtn,
.swiper-pagination-bullet-active.carouselBtn:focus{
    background-color: #f4f4f4;
    opacity: 1;
    border: none;
}

.swiper-pagination-bullet-active.carouselBtn > span{
    background-color: transparent;
    opacity: 1;
    width: 100%;
    height: 100%;
}


.swiper-pagination-bullet-active.carouselBtn > span{
    --widthOverlay: 0%;
    color: #000;
}

.swiper-pagination-bullet-active.carouselBtn > span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(yellow, yellow); */
    background-image: linear-gradient(#dfe3e7, #dfe3e7);
    background-size: var(--widthOverlay);
    border-radius: 9999px;
    z-index: -1;
    background-repeat: no-repeat;
}

.carouselBtn:hover{
    opacity: 0.85;
}

.secondCarousel .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets{
    bottom: 5%;
}

.backgroundImage{
    object-fit: cover;
}

.videoWrap video{
    width: 60%;
}

.thirdCarousel{
    height: 90%;
}

.thirdCarousel .swiper-pagination-bullets.swiper-pagination-horizontal{
    right: 20%;
    left: unset;
}


.fourthCarousel .swiper-pagination-bullets.swiper-pagination-horizontal{
    right: 0;
    left: unset;
    bottom: 20px;
}

.thirdCarousel .swiper-pagination-bullet.carouselBtn,
.fourthCarousel .swiper-pagination-bullet.carouselBtn{
    border-color: #191c1f;
    color: #191c1f;
    backdrop-filter: none;
}

.thirdCarousel .swiper-pagination-bullet-active.carouselBtn,
.thirdCarousel .swiper-pagination-bullet-active.carouselBtn:focus,
.fourthCarousel .swiper-pagination-bullet-active.carouselBtn,
.fourthCarousel .swiper-pagination-bullet-active.carouselBtn:focus{
    background-color: #191c1f;
    z-index: -2;
}

.thirdCarousel .swiper-pagination-bullet-active.carouselBtn > span,
.fourthCarousel .swiper-pagination-bullet-active.carouselBtn > span{
    color: #fff;
}

.thirdCarousel .swiper-pagination-bullet-active.carouselBtn > span::before,
.fourthCarousel .swiper-pagination-bullet-active.carouselBtn > span::before{
    background-image: linear-gradient(#fff, #fff);
    opacity: 0.15;
}

.fourthCarousel{
    height: 90%;
    padding-bottom: 6rem !important;
}


.fourthCarousel .videoWrap video{
    width: 40%;
}

.getStratedSection{
    max-width: 1000px;
    margin: 80px 0;
}

.getStratedSection .subtitle{
    text-wrap: balance;
}

.disclamer{
    padding-top: 80px;
    max-width: 1000px;
    margin: 0 auto;
}

.disclamer span{
    white-space: pre-wrap;
}

@media screen and (max-width: 1024px) {
    .colorfulSection{
        background-size: cover;
        background-position-x: 50%;
    }
}

@media screen and (min-width: 150vh) {
    .mySwiper.swiper{
        transform: translateX(0px);
    }
}


@media screen and (min-width: 320px) {
    .title {
        font-size: clamp(2.25rem, 1.65rem + 3vw, 3rem);
    }
    
    .videoContainer{
        aspect-ratio: 0.75 / 1;
    }
}